[submodule "ud891"]
	path = a11y
	url = https://github.com/xam-ps/ud891.git
[submodule "wittr"]
	path = wittr
	url = https://github.com/xam-ps/wittr.git
[submodule "mws-restaurant-stage-1"]
	path = mws-restaurant-stage-1
	url = https://github.com/xam-ps/mws-restaurant-stage-1.git
[submodule "course-ajax"]
	path = course-ajax
	url = https://github.com/xam-ps/course-ajax.git
[submodule "mws-restaurant-stage-2"]
	path = mws-restaurant-stage-2
	url = https://github.com/xam-ps/mws-restaurant-stage-2.git
